@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

  body{
    background-color: #f5f7ff;
  }
  
  :root {

    --background: #f5f7ff;
  
    --card: #ffffff;
  
    --primary: #0277ff;
  
    --secondary: 0 0 100%;
    --secondary-foreground: 222 84% 5%;

    --text-light: #91a5d4;
    --text-middle: #6a7c9a;
    --text-dark: #000000;
  }

  [data-theme="dark"] {
    --background: 222 84% 5%;
    --foreground: 0 0 100%;

    --card: 222 84% 5%;
    --card-foreground: 0 0 100%;

    --primary: 222 84% 5%;
    --primary-foreground: 0 0 100%;

    --secondary: 222 84% 5%;
    --secondary-foreground: 0 0 100%;
  }
}

