@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  
  :root {
    --background: #f5f7ff;
    --card: #ffffff;
    --primary: #0277ff;
    --lightgrey: #91a5d4;
    --grey: #4a6a9b;
    --dark: #000000;
  }
 
  .dark {
    --background: #020617;
    --card: #0f172a;
    --primary: #0277ff;
    --lightgrey: #91a5d4; 
    --grey: #4a6a9b;
    --dark: #ffffff;
  }

}
/*'background':'rgb(var(--background))',
  'card':'rgb(var(--card))',
  'primary':'rgb(var(--primary))',
  'lightgrey':'rgb(var(--lightgrey))',
  'grey':'rgb(var(--grey))',
  'dark':'rgb(var(--dark))', */
